<footer class="footer">
    <div class="row">
      <div class="col-md-6">
        <p><%= t ".develop" %></p>
      </div>
      <div class="col-md-6">
        <p><%= t(".phone_contact") %></p>
        <p><%= t ".address_contact" %></p>
      </div>
    </div>
</footer>
